<?xml version="1.0" encoding="UTF-8"?>
<plugin id="gov.nasa.jpl.magicdraw.projectUsageIntegrity" name="SSCAE Project Usage Integrity Checker" version="180" internalVersion="0" provider-name="JPL" class="gov.nasa.jpl.magicdraw.projectUsageIntegrity.ProjectUsageIntegrityPlugin">
  <requires>
    <api version="1.0"></api>
  </requires>
  <runtime>
    <library name="lib/commons-exec-1.1.jar"></library>
    <library name="lib/jgrapht-0.8.3-jdk1.6.jar"></library>
    <library name="lib/snakeyaml.jar"></library>
  </runtime>
</plugin>